@import 'tailwindcss';

@layer base {
	a {
		color: #0000ff;
		text-decoration: underline;

		&:hover {
			color: #551a8b;
			text-decoration: underline;
		}

		&:visited {
			color: #800080;
			text-decoration: underline;
		}
	}
}
