@import 'tailwindcss';

@layer base {
	/* Links */
	a {
		color: #0000ff;
		text-decoration: underline;

		&:hover {
			color: #551a8b;
			text-decoration: underline;
		}

		&:visited {
			color: #800080;
			text-decoration: underline;
		}
	}

	/* Lists */
	ol,
	ul {
		padding-left: theme('spacing.10');
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}
}
